body {
    background-color: #c3d9ff;
}

.hidden {
    display: none;
}

.counter {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    margin-top: 0.75rem;
}

.settings-outer-container {
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    display: flex;
}

.settings-outer-container > div {
    width: 100%;
}

.login-info {
    margin-bottom: 1.2rem;
}

.mb-3 {
    margin-bottom: 0.8rem !important;
}

.pt-3 {
    padding-top: 1rem;
}

.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.logout-btn {
    float: right;
}

.email-display {
    display: inline;
}

.fas {
    cursor: pointer;
    float: right;
    font-size: 1.4rem;
}

.message-popup {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: coral;
    width: 100%;
    height: 75px;
}

.timer-controls-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.project-input {
    width: 100%;
}
