@font-face {
    font-family: 'Open Sans Light';
    src: url('../assets/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Digital7';
    src: url('../assets/digital-7-mono.ttf');
}

body {
    background-color: #c3d9ff;
    /*font-family: 'Open Sans Light', sans-serif !important;*/
    font-family: 'Raleway', sans-serif !important;
}



.hidden {
    display: none;
}

.counter {
    font-family: 'Digital7', monospace;
    font-size: 5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.75rem;
}

.settings-outer-container {
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    display: flex;
}

.settings-outer-container > div {
    width: 100%;
}

.back-button-container {
    height: 10vh;
}

.login-info {
    margin-bottom: 1.2rem;
}

.mb-3 {
    margin-bottom: 0.8rem !important;
}

.pt-3 {
    padding-top: 1rem;
}

.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.logout-btn {
    float: right;
}

.email-display {
    display: inline;
}

.toggle-btn,
.sync-btn {
    cursor: pointer;
    font-size: 1.4rem;
}

.timer-controls-container i {
    margin-right: 0.35rem;
}

.message-popup {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    height: 75px;
}

.timer-controls-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.project-input {
    width: 100%;
}
